@model IEnumerable<BookStore.Models.Genre>

@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div class="text-white offset-md-2">
        <a asp-controller="Genres" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
}


<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.GenreName)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.GenreName)
                        </td>
                        <td class="align-middle">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a>
                            }
                            
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> 
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                            {
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                            }
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
